<%- include("templates/header") %>
<% 
    switch(forgor) {
        case 'forgor':
            %>
            <%- include("templates/forgorLogin") %>
            <% 
            break;
        case 'forgorID':
            %>
            <%- include("templates/forgorType", { forgorType: 'ID' }) %>
            <% 
            break;
        case 'forgorPW':
            %>
            <%- include("templates/forgorType", { forgorType: 'PW' }) %>
            <% 
            break;
        default:
            %>
            <%- include("templates/normalLogin") %>
            <% 
            break;
    }
%>
<% if(errorMessage != null){ %>
    <p><%= errorMessage %></p>
<% } %>
<%- include("templates/footer") %>
