<%- include("templates/header") %>

  <div class="container d-flex">
    <div class="container">
      <!-- PROFILE HEADER -->
      <div class="container" id="profileHeader">
        <!-- IMAGE -->
        <div id="profileImage">
          <% if (user.image_id==null) { %>
            <div id="defaultProfilePicture">
              <img src="/images/defaultProfilePicture.png" alt="default">
            </div>
            <% } else { %>
              <img src="<%= user.imageUrl %>" alt="Profile Image" />
              <% } %>
        </div>
        <!-- USERNAME -->
        <div id="profileUserName">
          <h4>
            <%= user.name %>
          </h4>
        </div>
        <!-- INFO -->
      </div>
      <div id="profileInfo">
        <h6><i class="fa-solid fa-calendar-days"></i><span id="joinedText">Joined <%= user.joinDate %></span></h6>
        <hr>
      </div>

      <!-- SKILLS DIV -->
      <div class="card widget-card shadow-sm" id="skillDiv">
        <div class="card-header d-flex justify-content-between align-items-center"><span id="skillsTitle">
            Skills</span>
          <form action="/selectSkills" method="get">
            <button class="btn btn-primary" id="skillsEditButton">EDIT</button>
          </form>
        </div>
        <div class="card-body">
          <% console.log(skills) %>
            <% skills.forEach(skill=> { %>
              <%- include('templates/eachSkill', { skill }) %>
                <% }) %>
        </div>
      </div>

      <div class="card widget-card shadow-sm" id="reviewDiv">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span id="reviewTitle">Reviews</span>
        </div>
        <div class="card-body">
          <!-- WHERE WE WILL PRINT OUT ALL OF THE REVIEWS -->
        </div>
      </div>
    </div>
  </div>

  <div class="settingsDiv" id="settingsDiv">
    <div class="card">
      <div class="card-header">
        <span id="settingsTitle">Change Image</span>
        <div class="float-end" id="exitIcon">
          <i class="fa-solid fa-x"></i>
        </div>
      </div>
      <div class="card-body">
        <!-- UPLOAD IMAGE FORM -->
        <form action="/setProfilePic" method="post" enctype="multipart/form-data">
          <div class="container d-flex">
              <div id="defaultProfilePicture">
                <% if (user.image_id==null) { %>
                <img src="/images/defaultProfilePicture.png" alt="default">
                <% } else { %>
                <img src="<%= user.imageUrl %>" alt="Profile Image" />
                <% } %>
              </div>
                <div id="uploadButtonDiv">
                  <input id="uploadImageButton" type="file" name="image" onchange="previewImage(event)" accept="image/*">
                  <label for="uploadImageButton" class="custom-file-upload">
                    UPLOAD FILE
                  </label>
            
                </div>
                  
          </div>
          <div id="imageButtonDiv">
            <input id="saveButton" type="submit" value="Save">
          </div>
        </form>
        <!-- ADD OTHER INFO TO PROFILE SETTINGS TAB -->
      </div>
    </div>
    <div class="container mt-4">
      <p>Number of review: <%= user.rate.length %></p>
      <% var sum = 0; %>
      <% var countRates = 0; %>
      <% user.rate.forEach(rating => { %>
        <% sum += parseFloat(rating.rating); %>
        <% countRates++; %>
      <% }); %>
      <% var avg = (countRates > 0) ? (sum / countRates) : 0; %>
      <p>Average rate: <%= avg.toFixed(2) %></p>
    </div>
  </section>

  <%- include("templates/footer_after_login") %>