<%- include("templates/header") %>

<div class="container d-flex" id="profileHeader">
  <div>
    <% if (user.image_id==null) { %>
      <p>NO IMAGE</p>
      <% } else { %>
        <script
          type="text/javascript">document.write($.cloudinary.imageTag('<%- user.image_id %>', { height: 100, width: 100, crop: "fit" }).toHtml());</script>
        <% } %>
  </div>
  <div id="profileUserName">
    <h4>
      <%= user.name %>
    </h4>
  </div>
</div>
<div class="card widget-card border-light shadow-sm">
  <div class="card-header text-bg-primary">Skills</div>
  <div class="card-body">
    <% console.log(skills) %>
    <% skills.forEach(skill => { %>
      <%- include('templates/eachSkill', { skill }) %>
    <% }) %>
  </div>
</div>
  

  <%- include("templates/footer_after_login") %>