
<head>
    <style>
        /* Add your custom styles here */
        .box {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .star-rating .fa-star {
            font-size: 1.5em;
            color: lightgray;
            cursor: pointer;
        }
        .star-rating .fa-star.checked {
            color: gold;
        }
    </style>
</head>
<body>

<!-- Include header.ejs -->
<%- include ("templates/header") %>

<div class="container mt-5">
    <h1 class="text-center mb-4">Leave a Review</h1>

    <div class="box">
        <h5>Leaving a review for: <span id="user-id">User_ID</span></h5>
    </div>

    <div class="box">
        <h6>How satisfied are you with the user teaching?</h6>
        <div class="star-rating" id="satisfaction-teacher">
            <!-- Star Rating for Satisfaction_teacher -->
            <% for (let i = 1; i <= 5; i++) { %>
                <span class="fa fa-star" data-value="<%= i %>"></span>
            <% } %>
        </div>
    </div>

    <div class="box">
        <h6>How satisfied are you with the user as a student?</h6>
        <div class="star-rating" id="satisfaction-student">
            <!-- Star Rating for Satisfaction_student -->
            <% for (let i = 1; i <= 5; i++) { %>
                <span class="fa fa-star" data-value="<%= i %>"></span>
            <% } %>
        </div>
    </div>

    <div class="box">
        <h6>How approachable was the person?</h6>
        <div class="star-rating" id="satisfaction-approachable">
            <!-- Star Rating for Satisfaction_approachable -->
            <% for (let i = 1; i <= 5; i++) { %>
                <span class="fa fa-star" data-value="<%= i %>"></span>
            <% } %>
        </div>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-primary" id="submit-review">Submit Review</button>
    </div>
</div>

<!-- Include footer.ejs -->
<%- include ("templates/footer") %>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-LNSAtfFYg/y4XHVQNISc4V/8e8u/D0tc5Bt7sg6syEBXmW6F7sI0AZpxS+ln6xG" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        // Star rating click event
        $('.star-rating .fa-star').on('click', function() {
            var $star = $(this);
            var value = $star.data('value');
            $star.siblings().removeClass('checked');
            $star.prevAll().addBack().addClass('checked');
            // Placeholder to assign the value to the respective variable
            var ratingType = $star.parent().attr('id');
            console.log(ratingType + ': ' + value);
        });
    });
</script>

</body>
</html>
